version: '3'
services:
 cockroachdb:
   container_name: cockroachdb
   image: cockroachdb/cockroach:v19.2.5
   command: start --insecure --store=attrs=ssd,path=/var/lib/cockroach/
   restart: always
   volumes:
     - data:/var/lib/cockroach
   expose:
     - "8080"
     - "26257"
   ports:
     - "26257:26257"
     - "8080:8080"
 nakama:
   build:
     context: ./modules
   container_name: game_backend
   depends_on:
     - cockroachdb
   entrypoint:
     - "/bin/sh"
     - "-ecx"
     - >
       /nakama/nakama migrate up --database.address root@cockroachdb:26257 &&
        exec /nakama/nakama --name nakama1 --database.address root@cockroachdb:26257
   expose:
     - "7349"
     - "7350"
     - "7351"
   healthcheck:
     test: ["CMD", "curl", "-f", "http://localhost:7350/"]
     interval: 10s
     timeout: 5s
     retries: 5
   links:
     - "cockroachdb:db"
   ports:
     - "7349:7349"
     - "7350:7350"
     - "7351:7351"
   restart: unless-stopped

volumes:
 data:
